body {
    margin: 0;
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color: pink;
}

#left-side {

    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #709775;
    border: 3px solid #709775;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 25%;

    
}
#right-side {
    background-color: #162521;
    border: 3px solid #162521;
    height: inherit;
    position: fixed;
    top:0;
    bottom: 0;
    left: 75%;
    right: 0;
}

#video {
    border: 1px solid #F4F3EE;
    background-color: #F4F3EE;
    width: 80%;
    height: 60%;
    position: absolute; 
    top: 50%;
    left: 50%;
    margin-left: -40%; 
    margin-top: -30%;
}