body {
    margin: 0;
    font-family: 'Tahoma';
    color: #F4F3EE;
}

#left-side {

    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #040F0F;
    color: #FCFFFC;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 30%;    
}

#right-side {
    background-color: #040F0F;
    height: inherit;
    position: fixed;
    top:0;
    bottom: 0;
    left: 70%;
    right: 0;    
}

#video {
    border: 3px solid #FCFFFC;
    background-color: #FCFFFC;
    width: 800px;
    height: 400px;
    position: absolute; 
    top: 50%;
    left: 50%;
    margin-left: -400px; 
    margin-top: -200px;
    
}

.card {
    border-bottom: 1px solid #FCFFFC;
    margin-left: 5px;
    margin-right: 5px;
    height: 100px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}


